# Autoreconf stage files
/aclocal.m4
/autom4te.cache
/configure
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/scripts/ar-lib
/scripts/compile
/scripts/depcomp
/scripts/config.guess
/scripts/config.sub
/scripts/install-sh
/scripts/missing
/scripts/test-driver
/src/include/config.h.in
Makefile.in

# Configure stage files
.deps
/config.log
/config.lt
/config.status
/libtool
/src/binding/f77/pnetcdf.inc
/src/binding/f90/api.fh
/src/binding/f90/nfmpi_constants.fh
/src/binding/f90/pnetcdf.f90
/src/include/config.h
/src/include/pnetcdf.h
/src/include/stamp-h1
/src/packaging/pnetcdf.pc
/src/utils/pnetcdf-config
/test/nf90_test/tests.inc
/test/nf_test/tests.inc
Makefile

# Build stage files
*.la
*.lo
*.mod
*.o
.libs
/man/pnetcdf*.3
/src/binding/cxx/pnetcdf
/src/binding/f77/allf.c
/src/binding/f77/issyserrf.c
/src/binding/f77/mpifnetcdf.h
/src/binding/f77/xinq_libversf.c
/src/binding/f77/xstrerrnof.c
/src/binding/f77/xstrerrorf.c
/src/binding/f90/getput_text.fh
/src/binding/f90/getput_var.fh
/src/binding/f90/getput_vard.fh
/src/binding/f90/getput_varn.fh
/src/dispatchers/attr_getput.c
/src/dispatchers/var_getput.c
/src/drivers/common/convert_swap.c
/src/drivers/common/ncx.c
/src/drivers/include/ncx.h
/src/drivers/ncmpio/ncmpio_attr.c
/src/drivers/ncmpio/ncmpio_getput.c
/src/drivers/ncmpio/ncmpio_i_getput.c
/src/drivers/ncmpio/ncmpio_i_varn.c
/src/drivers/ncmpio/ncmpio_varn.c
/src/utils/ncmpidiff/cdfdiff
/src/utils/ncmpidiff/ncmpidiff
/src/utils/ncmpidump/ncmpidump
/src/utils/ncmpigen/ncmpigen
/src/utils/ncoffsets/ncoffsets
/src/utils/ncvalidator/ncvalidator
/src/utils/pnetcdf_version/pnetcdf_version
/test/nc_test/tests.h
/test/nonblocking/bput_varn.c
/test/nonblocking/column_wise.c

# Test stage files
*.log
*.nc
*.nc.2
*.nc0
*.nc1
*.nc2
*.nc5
!/src/utils/ncvalidator/bad_*.nc
!/src/utils/ncvalidator/bad_*.nc?
!/test/cdf_format/bad_*.nc?
!/test/cdf_format/test_*.nc
*.trs
/benchmarks/C/aggregation
/benchmarks/C/write_block_read_column
/examples/C/block_cyclic
/examples/C/bput_varn_int64
/examples/C/bput_varn_uint
/examples/C/collective_write
/examples/C/column_wise
/examples/C/create_open
/examples/C/fill_mode
/examples/C/flexible_api
/examples/C/get_info
/examples/C/get_vara
/examples/C/ghost_cell
/examples/C/global_attributes
/examples/C/hints
/examples/C/i_varn_int64
/examples/C/mput
/examples/C/nonblocking_write
/examples/C/nonblocking_write_in_def
/examples/C/put_vara
/examples/C/put_varn_float
/examples/C/put_varn_int
/examples/C/req_all
/examples/C/time_var
/examples/C/transpose
/examples/C/transpose2D
/examples/C/vard_int
/examples/C/vard_mvars
/examples/CXX/SimpleXyWr
/examples/CXX/block_cyclic
/examples/CXX/collective_write
/examples/CXX/column_wise
/examples/CXX/fill_mode
/examples/CXX/flexible_api
/examples/CXX/get_info
/examples/CXX/get_vara
/examples/CXX/hints
/examples/CXX/nonblocking_write
/examples/CXX/put_vara
/examples/CXX/put_varn_float
/examples/CXX/put_varn_int
/examples/CXX/transpose
/examples/CXX/vard_int
/examples/F77/block_cyclic
/examples/F77/bput_varn_int8
/examples/F77/column_wise
/examples/F77/fill_mode
/examples/F77/flexible_api
/examples/F77/get_info
/examples/F77/hints
/examples/F77/i_varn_real
/examples/F77/nonblocking_write
/examples/F77/put_vara
/examples/F77/put_varn_int
/examples/F77/put_varn_real
/examples/F77/time_var
/examples/F77/transpose
/examples/F77/vard_int
/examples/F90/block_cyclic
/examples/F90/column_wise
/examples/F90/fill_mode
/examples/F90/flexible_api
/examples/F90/get_info
/examples/F90/hints
/examples/F90/nonblocking_write
/examples/F90/put_var
/examples/F90/put_varn_int
/examples/F90/put_varn_real
/examples/F90/transpose
/examples/F90/vard_int
/examples/tutorial/pnetcdf-permute
/examples/tutorial/pnetcdf-read-flexible
/examples/tutorial/pnetcdf-read-from-master
/examples/tutorial/pnetcdf-read-nb
/examples/tutorial/pnetcdf-read-nfiles
/examples/tutorial/pnetcdf-read-standard
/examples/tutorial/pnetcdf-write-buffered
/examples/tutorial/pnetcdf-write-bufferedf
/examples/tutorial/pnetcdf-write-bufferedf77
/examples/tutorial/pnetcdf-write-flexible
/examples/tutorial/pnetcdf-write-from-master
/examples/tutorial/pnetcdf-write-nb
/examples/tutorial/pnetcdf-write-nfiles
/examples/tutorial/pnetcdf-write-standard
/src/utils/ncvalidator/tst_open
/test/C/pres_temp_4D_rd
/test/C/pres_temp_4D_wr
/test/CXX/nctst
/test/CXX/test_classic
/test/F90/f90tst_parallel
/test/F90/f90tst_parallel2
/test/F90/f90tst_parallel3
/test/F90/f90tst_parallel4
/test/F90/f90tst_vars
/test/F90/f90tst_vars2
/test/F90/f90tst_vars3
/test/F90/f90tst_vars4
/test/F90/test_attr_int64
/test/F90/test_fill
/test/F90/test_intent
/test/F90/tst_f90
/test/F90/tst_f90_cdf5
/test/F90/tst_io
/test/F90/tst_types2
/test/cdf_format/cdf_type
/test/cdf_format/dim_cdf12
/test/cdf_format/test_inq_format
/test/cdf_format/tst_corrupt
/test/cdf_format/tst_open_cdf5
/test/fandc/csnap
/test/fandc/fixedform
/test/fandc/freeform
/test/fandc/pnctest
/test/fandc/pnctestf
/test/fandc/pnf_test
/test/header/header_consistency
/test/nc_test/nc_test
/test/nc_test/t_nc
/test/nc_test/test_get.c
/test/nc_test/test_iget.c
/test/nc_test/test_iput.c
/test/nc_test/test_put.c
/test/nc_test/test_read.c
/test/nc_test/test_write.c
/test/nc_test/tst_atts
/test/nc_test/tst_atts3
/test/nc_test/tst_misc
/test/nc_test/tst_names
/test/nc_test/tst_nofill
/test/nc_test/tst_nofill.nc.fill
/test/nc_test/tst_nofill.nc.nofill
/test/nc_test/tst_norm
/test/nc_test/tst_small
/test/nf90_test/nf90_test
/test/nf90_test/test_get.F90
/test/nf90_test/test_iget.F90
/test/nf90_test/test_iput.F90
/test/nf90_test/test_put.F90
/test/nf_test/nf_test
/test/nf_test/test_get.F
/test/nf_test/test_iget.F
/test/nf_test/test_iput.F
/test/nf_test/test_put.F
/test/nonblocking/bput_varn
/test/nonblocking/column_wise
/test/nonblocking/flexible_bput
/test/nonblocking/i_varn_indef
/test/nonblocking/i_varn_int64
/test/nonblocking/interleaved
/test/nonblocking/large_num_reqs
/test/nonblocking/mcoll_perf
/test/nonblocking/mcoll_testf
/test/nonblocking/mcoll_testf77
/test/nonblocking/req_all
/test/nonblocking/test_bput
/test/nonblocking/test_bputf
/test/nonblocking/test_bputf77
/test/nonblocking/wait_after_indep
/test/testcases/add_var
/test/testcases/alignment_test
/test/testcases/attrf
/test/testcases/buftype_free
/test/testcases/buftype_freef
/test/testcases/check_striping
/test/testcases/check_type
/test/testcases/collective_error
/test/testcases/erange_fill
/test/testcases/erange_fill.c
/test/testcases/error_precedence
/test/testcases/error_precedence.c
/test/testcases/flexible
/test/testcases/flexible2
/test/testcases/flexible_varm
/test/testcases/inq_num_vars
/test/testcases/inq_num_varsf
/test/testcases/inq_recsize
/test/testcases/inq_recsizef
/test/testcases/iput_all_kinds
/test/testcases/iput_all_kinds.c
/test/testcases/ivarn
/test/testcases/large_var_cdf5
/test/testcases/last_large_var
/test/testcases/mix_collectives
/test/testcases/modes
/test/testcases/ncmpi_vars_null_stride
/test/testcases/noclobber
/test/testcases/nonblocking
/test/testcases/null_args
/test/testcases/null_args.c
/test/testcases/one_record
/test/testcases/put_all_kinds
/test/testcases/put_all_kinds.c
/test/testcases/put_parameter
/test/testcases/record
/test/testcases/redef1
/test/testcases/scalar
/test/testcases/test_erange
/test/testcases/test_fillvalue
/test/testcases/test_vard
/test/testcases/test_vard_multiple
/test/testcases/test_vard_rec
/test/testcases/test_vardf
/test/testcases/test_vardf90
/test/testcases/test_varm
/test/testcases/tst_def_var_fill
/test/testcases/tst_dimsizes
/test/testcases/tst_free_comm
/test/testcases/tst_info
/test/testcases/tst_max_var_dims
/test/testcases/tst_vars_fill
/test/testcases/tst_vars_fill.c
/test/testcases/tst_version
/test/testcases/varn_contig
/test/testcases/varn_int
/test/testcases/varn_intf
/test/testcases/varn_real
/test/testcases/vectors
